* {
  margin: 0px 0px;
  padding: 0px;
  box-sizing: border-box;

  .body {
    font-family: serif;
  }
}
.container {
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  background-color: rgb(255, 177, 203);
  align-items: center;
  background-size: contain;

  &__logo {
    font-size: 4vw;
    color: black;
    width: 39.55%;
    margin-left: 1vw;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-size: 2vw;
    width: 60.45%;

    &-1,
    &-2,
    &-3,
    &-4,
    &-5 {
      a {
        color: black;
        text-decoration: none;
        transition: transform 0.2s;
      }
      a:hover {
        color: white;
        background-color: rgb(147, 109, 165);
        transform: scale(3px);
        font-size: 2.5vw;
      }
    }
  }
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url(buybg.jpeg);

  background-size: contain;
  background-repeat: no-repeat;
  height: 80%;
  width: 100vw;
  // border: solid yellow;
  &__heading {
    font-family: cursive;
    text-decoration: underline;
    font-size: 4vw;
    margin-top: 5%;
    color: black;
    background-color: rgb(147, 109, 165);
    border-radius: 0%;
    margin-bottom:2%;
  }

  &__table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    font-size: 2vw;
    // text-align: justify;
    width: 100%;
    height: 100vh;
   border: 2px solid blue;

    &-1,
    &-2,
    &-3 {
     
      .heading {
        box-shadow:0 10px 25px black;
        transition: 0.3s;
        height: 80%;
        padding: 10px;
        width: 20vw;
        justify-content: space-around;
        align-items: center;
        border: 1px solid black;
        height: 80%;
        background-color: rgb(255, 177, 203);
        display: flex;
        flex-direction: column;
        border-radius: 20%;
        // border: 10px solid paleturquoise;

        .details {
          font-size: 2vw;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 2px solid green;
        }
      }
      .heading:hover {
        background-color: rgb(147, 109, 165);
        background-size: contain;
        box-shadow:0 45px 50px black;
      border-radius: 20%;
      }
    }
    .image_1 {
      background-image: url("./buy_product1.jpeg");
      width: 700px;
      height: 700px;
      background-size: contain;
      border: 2px solid red;
      background-repeat: no-repeat;
    }
    .image_2 {
      background-image: url("./buy_product2.jpeg");
      width: 700px;
      height:700px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .image_3 {
      background-image: url("./buy_product3.jpeg");
      width: 700px;
      height: 700px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .button {
      color: black;
      font-size: 1.5vw;
      padding: auto;
    }
    .button:hover {
      background-color: white;
      border: 2px solid rgb(255, 177, 203);
      color: black;
      border-radius: 10%;
      font-size: 2vw;
      padding: auto;
      text-transform: uppercase;
    }
  }
}
.footer {
  height: 10%;
  background-color: palevioletred;
  display: flex;
  flex-direction: row;
  gap: 1%;
  
  align-items: center;
  justify-content: right;
 
 
[class^="footer__"]{
  img{
  background-size: contain;
  width:3vw;
  height: 3vw;
  // border: solid 2px yellow;
   border-radius: 100%;
    

  }
}

}
@media (max-width: 650px) {
  .header {
    &__logo {
      display: none;
    }
    &__menu {
      font-size: 4vw;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
    &__table {
      display:flex ;
      flex-direction: column;
       height: 100%;
          width: 100%;
      .details {
          font-size: 3vw;
          display: flex;
          justify-content: center;
          align-items: center;
           height: auto;
          width: 100%;
        }
         &__heading {
          font-size: 6vw;
          height: auto;
          width: auto;
    }
  }
}
.footer{

  align-items: center;
  justify-content: center;
  gap: 20%;
  position: relative;
 
[class^="footer__"]{
  img{
  background-size: contain;
  width:13vw;
  height: 13vw;
  // border: solid 2px yellow;
   border-radius: 100%;
   align-items: center;
  justify-content: center;
  padding: auto;
  margin-bottom: 8px;
  position: absolute;
    

  }    
  }
  }

}
