* {
  margin: 0px 2px;
  padding: 0px;
  box-sizing: border-box;

  .body {
    font-family: serif;
  }
}
.container {
  height: 100vh;
  width: 100%;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  background-color:rgb(255, 177, 203) ;
  align-items: center;
  background-size: contain;

  &__logo {
    font-size: 4vw;
    color: black;
    width: 39.55%;
    margin-left: 1vw;
    // padding-bottom: 20px;
    // padding-top: 10px;
    // padding-left: 40px;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    font-size: 2vw;
    width: 60.45%;
    

    &-1,&-2,&-3,&-4,&-5{
        a{
            color: black;
            text-decoration: none;
            transition: transform .2s;
            //  padding: 10px;
        }
         a:hover{
            color: white;
            background-color: rgb(147, 109, 165);
            transform: scale(3px);
            font-size: 2.5vw;
        }
    }
  }
}
.main {
  display: flex;
  flex-direction: row;
    height: 80%;
    background-color:rgb(207, 165, 255) ;
    background-size: contain;
  &__img {
    background-image: url("logo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
  }
  &__text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-1{
        font-size: 4vh;
        font-family: cursive;
        justify-content: center;
    }
      &-2{
        font-size: 3vh;
        font-family: cursive;

        justify-content: center;
    }
      &-3{
        font-size: 2vh;
        font-family: cursive;

        
    }
    
  }
}
.footer {
    height: 10%;
    background-color: palevioletred;
    background-size: contain;
}
@media only screen {
  .container{
    margin: 1px;
    padding: 0px;
  }
  
}