* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  .body {
    font-size: 35px;
    font-family: serif;
  }
}
.container {
  height: 100vh;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  background-color:rgb(255, 177, 203) ;

  &__logo {
    font-size: 40px;
    color: black;
    width: 39.55%;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 40px;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    

    &-1,&-2,&-3,&-4,&-5{
        a{
            color: black;
            text-decoration: none;
            transition: transform .2s;
            font-size: 25px;
             padding: 10px;
        }
         a:hover{
            color: white;
            background-color: rgb(147, 109, 165);
            transform: scale(3px);
            font-size: 30px;
        }
    }
  }
}
.main {
  display: flex;
  flex-direction: row;
    height: 80%;
    background-color:rgb(207, 165, 255) ;
  &__img {
    background-image: url("logo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
  }
  &__text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-1{
        font-size: 45px;
        font-family: cursive;
        justify-content: center;
    }
      &-2{
        font-size: 25px;
        font-family: cursive;
        width: 40%;
        justify-content: center;
    }
      &-3{
        font-size: 15px;
        font-family: cursive;

        
    }
    
  }
}
.footer {
    height: 10%;
    background-color: palevioletred;
}
